################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

test_velo_b1:
  # Defines how often an event is sent to the output
  period: 1s
